.icon-nopagado{
    font-size: 25px;
    color: #9E0031;
}

.icon-pagado{
    font-size: 25px;
    color: #007C77;
}

.mg-btn{
    margin-bottom: 6px;
}

.div-cuotas{
    margin-right: 16px;
    margin-left: 16px;
}