<!-- <app-header> </app-header> -->


<ion-content color="fondo">
    <div class="container m-top">
        <h5>Editar Prestamo</h5>
        <h5>Datos del Cliente</h5>
        <form [formGroup]="clienteForm">
            <div class="row">


                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Cedula Cliente</label>
                        <input type="text" class="form-control" mask="000-0000000-0" formControlName="Cedula" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" formControlName="Nombres" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" formControlName="Apellidos" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Sexo</label>
                        <input type="text" class="form-control" formControlName="Sexo" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-8">
                    <div class="form-group">
                        <label for="">Direccion</label>
                        <textarea  class="form-control txt-area" formControlName="Direccion" upperCase> </textarea>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Celular</label>
                        <input type="text" class="form-control" mask="000-000-0000" formControlName="Celular" upperCase>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <h5>Datos del Prestamo</h5>

        <form [formGroup]="prestamoForm">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Tipo Prestamo</label>
                        <ng-select bindLabel="text" bindValue="id" upperCase placeholder="Seleccione"
                            [items]="tipoPrestamo" formControlName="Tipo">
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Monto Prestamo</label>
                        <input type="text" class="form-control" formControlName="Monto" mask="separator.2" thousandSeparator="," upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Frecuencia Pago</label>
                        <ng-select bindLabel="text" bindValue="id" upperCase placeholder="Seleccione"
                            [items]="frecuenciaPagoCombox" formControlName="FrecuenciaPago">
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Interes</label>
                        <input type="text" class="form-control" formControlName="InteresGenerar"  mask="percent" suffix="%"  upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Cantidad Cuotas</label>
                        <input type="number" class="form-control" formControlName="CantidadCuotas" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Valor Cuotas</label>
                        <input type="text" class="form-control" formControlName="ValorCuotas" upperCase  mask="separator.2" thousandSeparator=",">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">MontoInteres</label>
                        <input type="text" class="form-control" formControlName="MontoInteres" upperCase  mask="separator.2" thousandSeparator=",">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Total Pago</label>
                        <input type="text" class="form-control" formControlName="TotalPago" upperCase  mask="separator.2" thousandSeparator=",">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Pago Capital</label>
                        <input type="text" class="form-control" formControlName="PagoCapital" upperCase  mask="separator.2" thousandSeparator=",">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Pago Interes</label>
                        <input type="text" class="form-control" formControlName="PagoInteres" upperCase  mask="separator.2" thousandSeparator=",">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Estado</label>
                        <ng-select bindLabel="text" bindValue="id" upperCase placeholder="Seleccione"
                            [items]="estadoCombox" formControlName="EstadoPrestamo">
                        </ng-select>
                    </div>
                </div>
                
            </div>
        </form>

        <div *ngIf="prestamoTipo == 2" class="mg-btn">
            <button class="btn btn-success" (click)="addCuota()">Agregar Cuota</button>
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#NO</th>
                <th scope="col">Fecha</th>
                <th scope="col">Capital Inicial</th>
                <th scope="col">Valor</th>
                <th scope="col">Pago Capital</th>
                <th scope="col">Pago Interes</th>
                <th scope="col">Capital Final</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="prestamoTipo == 2">Accion</th>

                
              </tr>
            </thead>
            <tbody *ngFor="let cuota of cuotaList; let i = index;">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{cuota.FechaPago}}</td>
                <td>{{cuota.CapitalInicial | mask: 'separator':','}}</td>
                <td>{{cuota.Valor | mask: 'separator':','}}</td>
                <td>{{cuota.PagoCapital | mask: 'separator':','}}</td>
                <td>{{cuota.PagoInteres | mask: 'separator':','}}</td>
                <td>{{cuota.CapitalFinal | mask: 'separator':','}}</td>
                <td *ngIf="cuota.EstadoCuota == 2" (click)="actualizarCuota(cuota)">
                    NO PAGADO
                    <fa-icon icon="times-circle" class="icon-nopagado"></fa-icon>
                </td>
                <td *ngIf="cuota.EstadoCuota == 1" (click)="actualizarCuota(cuota)">
                    PAGADO
                    <fa-icon icon="check-circle" class="icon-pagado"></fa-icon>
                </td>
                <td *ngIf="prestamoTipo == 2">
                    <button class="btn btn-danger" (click)="eliminarCuota(cuota.Id)">
                        <fa-icon icon="trash-alt" class=""></fa-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          
        


    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="success" (click)="editPrestamo()">
                <ion-icon name="save-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="eliminarPrestamo()">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>



</ion-content>