
<ion-content color="fondo">
    <div class="m-list" color="fondo">

        <!-- <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-searchbar animated (ionChange)="buscarCliente( $event )"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid> -->
    
    
        <div *ngFor="let prestamo of listPrestamo">
          <div class="card-person" [routerLink]="['edit', prestamo.Id]">
            <div class="ft-person">
              <ion-avatar>
                <img src="/assets/img-default/default-profile.png" class="foto">
              </ion-avatar>
            </div>
            <div class="info-person">
              <div class="d-flex align-items-center">
                <p> Monto : {{prestamo.Monto | mask: 'separator':','}}</p>
                <p>Solicitante : {{prestamo.Nombres}}</p>
              </div>
              <div class="d-flex align-items-center">
                <p>{{prestamo.FechaCreacionPrestamo | date}}</p>
              </div>
            </div>
          </div>
        </div>
        
    
    
      </div>
</ion-content>