
<ion-content color="fondo">
    <div class="container m-top">
        <h5>Registar Cliente</h5>

        <form [formGroup]="clienteForm">

            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Cedula</label>
                        <input id="cedula-id" mask="000-0000000-0" class="form-control" formControlName="Cedula">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" formControlName="Nombres" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" formControlName="Apellidos" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">FechaNacimiento</label>
                        <input type="text" class="form-control" formControlName="FechaNacimiento" upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Foto</label>
                        <input type="text" class="form-control" formControlName="Foto" upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Sexo</label>
                        <ng-select bindLabel="text" bindValue="id" placeholder="Seleccione" upperCase [items]="sexoCombox"
                            formControlName="Sexo">
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Direccion</label>
                        <input type="text" class="form-control" formControlName="Direccion" upperCase>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Celular</label>
                        <input mask="000-000-0000" class="form-control" formControlName="Celular">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Ocupacion</label>
                        <input type="text" class="form-control" formControlName="Ocupacion" upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Estado</label>
                        <ng-select 
                        bindLabel="text" 
                        bindValue="id" 
                        upperCase
                        placeholder="Seleccione" 
                        [items]="estadoCombox"
                        formControlName="Estado">
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Banco</label>
                        <ng-select bindLabel="text" bindValue="id" upperCase placeholder="Seleccione" [items]="bancoCombox"
                            formControlName="Banco">
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">TarjetaNo</label>
                        <input type="text" class="form-control" mask="0000-0000-0000-0000" formControlName="TarjetaNo"
                            upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Clave</label>
                        <input type="text" class="form-control zz" formControlName="Clave" upperCase>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="">Cuenta</label>
                        <input type="text" class="form-control" formControlName="Cuenta" upperCase>
                    </div>
                </div>
            </div>

        </form>
    </div>

   


    <div *ngIf="permiso1">
        <h4>la base de datos esta conectada</h4>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success" (click)="saveCliente()">
            <ion-icon name="save-sharp"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>